*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    background: #fff;
}
.button{
    display: block;
    margin: 0px auto;
    cursor: pointer;
    width: 120px;
    height: 50px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 7px;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 0px 10px rgba(221,160,221,0.25), 0 0px 15px rgba(39,39,0.418), 0 0px 35px rgba(25,25,112,0.5);
}
.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    transition: transform 0.4s;
    z-index: -1;
    background: linear-gradient(to bottom right,#191970,#dda0dd);
}
.button a{
    text-decoration: none;
    align-items: center;
    color: #fff;
}
.button:hover::before{
    transform: translateY(-50%);
}