*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #2f3238;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    outline: none;
    color: #3498db;
    text-decoration: none;
}
a:hover,
a:focus{
    color: #528cb3;
}
.content{
    margin: 0 auto;
    max-width: 1000px;
}
.content > h2{
    clear: both;
    margin: 0;
    padding: 0% 1% 0%;
    color: #484b54;
    font-weight: 800;
    font-size: 1.5em;
}
.grid{
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    text-align: center;
}
.grid figure{
    background: red;
    position: relative;
    float: left;
    overflow: hidden;
}