*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #2f3238;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    outline: none;
    color: #3498db;
    text-decoration: none;
}
a:hover,
a:focus{
    color: #528cb3;
}
.content{
    margin: 0 auto;
    max-width: 1000px;
}
.content > h2{
    clear: both;
    margin: 0;
    padding: 0% 1% 0%;
    color: #484b54;
    font-weight: 800;
    font-size: 1.5em;
}
.grid{
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    text-align: center;
}
.grid figure{
    background: red;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid figure img{
    position: relative;
    display: block;
    min-height: 100%;
    max-height: 100%;
    opacity: 0.8;
}
.grid figure figcaption{
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 1.25em;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after{
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption>a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption > a{
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2{
    
}