/* About Css */
#about{
    padding: 3rem 0 6rem;
    background: url('../../assets/about/layer.png') no-repeat center center;
    background-size: cover;
    @media screen and (max-width:992px) {
        padding: 3rem 0;
        
    }
    .title_heading{
        text-align: center;
        max-width: 800px;
        margin: auto;
        & h3{
            font-size: 40px;
            line-height: 51.424px;
            font-weight: 700;
            color: var(--white-color);
            margin-bottom: 0;
             @media screen and (max-width:767px) {
                font-size: 28.8px;
                line-height: 44.8px;
                
             }
        }
        & p{
            font-size: 19.856px;
            line-height: 32px;
            color: var(--font-color);
        }
    }
    .about_box_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 64px;
        /* flex-wrap: wrap; */

        @media screen and (max-width:992px) {
            justify-content: center;
            
        }
        @media screen and (max-width:767px) {
            flex-direction: column;
            
        }
        .about_box{
            width: calc(100%/3-1rem);
            padding: 1rem;
            box-sizing: border-box;
            text-align: center;
             @media screen and (max-width:992px) {
                width: 50%;                
             }
             @media screen and (max-width:767px) {
                width: 100%;
                
             }
             .about_icon{
                font-size: 36.5712px;
                width: 91.4288px;
                height: 91px;
                margin: auto;
                line-height: 91.4288px;
                border-radius: 50%;
                color: var(--primary-color);
                background: var(--primary-bg);
                text-align: center;
                 &.green_icon{
                    color: var(--green-color);
                    background: var(--green-color-bg);
                 }
             }
        }
    }
}