.container{
    width: 600px;
    height: 425px;
    background: #d3d5d5;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px auto;
    /* border: 2px solid red; */
}
.header{
    width: 600px;
    height:25px ;    
}

.header h1{
    text-align: center;
    color: #4f656a;
    /* opacity: 0.8; */
}
.underline{
    width: 370px;
    height: 5px;
    background-color: rgb(157, 126, 185);
    opacity: 0.8;
    margin-top: 12px;
    border-radius: 50px;

}
.form{
    width: 600px;
    height: 388px;
    background: #4f656a;
}
.form form{
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}



@media(width<600px){
    .container{
        width: auto;
        height: auto;
        
    }
}