*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
:root{
    --bg-color:#fff;
    --text-color:rgba(0,0,0,0.7);
    --key-color:#78cc6d;
    --underline-color:#78cc6d;
    --heading-color:#000;
    --btn-bg-color:#78cc6d;
    --btn-color:#fff;
    --key-color:#78cc6d;
    --circle-color:#78cc6d;
    --circle-bg-color:#78cc6d;
    --hover-color:#78cc6d;
    --heading-size:35px;
    --line-width:1px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #78cc6d;
}

::-webkit-scrollbar-track{
    background: #000;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
h3{
    font-size: var(--heading-size);
    color: var(--heading-color);
}
.wrapper{
    width: 1250px;
    height: 585px;
    background: #f2f2f2;
    
   
}
.sidbar-section{
    width: 400px;
    height: 100%;
    background: var(--bg-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;

}
.profileHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.profileHead>img{
    width: 200px;
    border-radius: 50%;
}
.profileTail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 240px;
    gap: 8px;
}
.profileTail span{
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;

}
.sidbar-underline{
    height: 30px;
    width: 1px;
    background: var(--underline-color);
    cursor: none;
}
.content-section{
    width: 800px;
    float: right;
    background: var(--bg-color);
    margin-top: 25px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 75px;    
}
.about-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    gap: 20px;
    margin-top: 25px;

}
.content-underline{
    width: 75px;
    height: 2px;
    background: var(--underline-color);
    border-radius: 5px;
    padding: 2px;
}
.aboutPargarph>p{
    width: 90%;
    text-align: justify;
    color: var(--text-color);
    margin-left: 20px;
}
.introduction{
    display: flex;
    gap: 50px;
    margin-left: 20px;


}
.introLeftPart,
.introRightPart{
    display: flex;
    gap: 25px;
}

.key{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--key-color);
    
}
.key span{
    
    font-size: 22px;
}

.value{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--text-color);
    
}
.skills-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sillsInfo{
    display: flex;
    width: 100%;
    gap: 80px;
    margin-left: 20px;

}
.skillLeftPart,
.skillRightPart{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.skillportion{
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}
.skillContainer{
    width: 100%;
    height: 20%;
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-top: 10px;
}
.skillValue1{
    width: 95%;
    height: 100%;
    background: var(--underline-color);
}
.skillValue2{
    width: 85%;
    height: 100%;
    background: var(--underline-color);
}
.skillValue3{
    width: 90%;
    height: 100%;
    background: var(--underline-color);
}
.skillValue4{
    width: 90%;
    height: 100%;
    background: var(--underline-color);
}
.skillValue5{
    width: 75%;
    height: 100%;
    background: var(--underline-color);
}
.skillValue6{
    width: 60%;
    height: 100%;
    background: var(--underline-color);
}
.experience-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.experienceDetail{
    width: 100%;
    border-left: 1px solid #78cc6d;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;

}
.experienceInfo{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 10px 2px 25px;

}
.experienceHeading{
    font-size: 22px;
    font-weight: 600;

}
.experienceSubHeading{
    color: var(--text-color);
}
.experienceSubHeading span{
    font-size: 15px;
}
.experiencePara{
    color: var(--text-color);
    text-align: justify;
}
.service-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.serviceDetail{
    width: 80%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 60px;

}
.serviceLeftPart,
.serviceRightPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.serviceDetailInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.serviceCircle{
    width: 70px;
    height: 70px;
    border: 3px solid #78cc6d;
    border-radius: 35px;

}
.serviceDetailInfo:hover .serviceCircle{
    background: #78cc6d;
}
.serviceHeading{
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}
.serviceParagraph{
    color: var(--text-color);
    text-align: center;
}
.portfolio-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.portfolioButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.portfolioButtons button{
    padding: 5px 10px;
    /* outline: none;   */
    background: transparent;
    border: 1px solid #78cc6d;
    color: #78cc6d;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.portfolioButtons button:hover{
    color: #000;
    background: #78cc6d;
}
.portfolioDetail{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.portfolioImage{
    width: 40%;

}
.portfoliobg-1{
    background-image: url();
}