#header{
    width: 100%;
    background: var(--bg-primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logoContainer{
        width: 15%;
        background-color: aquamarine;
        
        .logo{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            & img{
                width: 15%;
                @media screen and (max-width:1024px) {
                    width: 20%;   
                }
                @media screen and (max-width:992px) {
                    width: 17%;                    
                }
                    
                @media screen and (max-width:767px)  {
                    width: 20%;                    
                }
                @media screen and (max-width:500px) {
                    width: 35%;
                    
                }
              
                    
            }
            & h2{
                font-size: 35px;
                color: var(--white-color);
                @media screen and (max-width:992px) {
                   font-size: 25px;               
                }
                    
                @media screen and (max-width:767px)  {
                    font-size: 20px;
                }
              
                @media screen and (max-width:500px) {
                    display: none;
    
                }
            }
           
        }
        @media screen and (max-width:1024px) {
            width: 15%;
            
        }
    }
    .toggler{
        display: flex;
        align-items: center;
        justify-content: flex-end;        
        background: red;
        width: 70%;
        margin-right: 20px;
        
        .menuItems{
            width: 100%;
            display: flex;
            align-items: center;

            .menuList{
                width: 70%;
                & ul{
                    display: flex;
                    justify-content: flex-start;
                    gap: 40px;
                    & li{
                        list-style: none;
                        & a{
                            color: var(--white-color);
                            font-size: 16px;
                            cursor: pointer;
                        }

                    }
                }
            }
            .menuIcons{
                width: 30%;
                & ul{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 2.5rem;
                    margin-right: 80px;
                    & li{
                        list-style: none;
                        & span{
                            font-size: 18px;
                            cursor: pointer;
                        }
                        
                    }
                    
                    
                }
                
            }
        }
       
    }
    .menu{

        & img{
            width: 110%;
            @media screen and (min-width:1300px) {
                width: 150%;
                
            }
            @media screen and (max-width:992px) {
                width: 100%;
                
            }
            
        }
        & li{
            font-size: 25px;
            @media screen and (min-width:1300px) {
                font-size: 43px;
                
            }
            @media screen and (max-width:767px) {
                font-size: 20px;
                
            }
        }
        
    }

   
    @media screen and (max-width:922px) {
        width: 100%;
        
    }
    @media screen and (max-width:767px) and (min-width:0px) {
        width: 100%;
        
    }

}