#header{
    width: 100%;
    background: var(--bg-primary-color);
    .logoContainer{
        width: 25%;
        .logo{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            & img{
                width: 15%;
                @media screen and (max-width:1024px) {
                    width: 25%;   
                }
                @media screen and (max-width:992px) {
                    width: 23%;                    
                }
                    
                @media screen and (max-width:767px) and (min-width:300px) {
                    width: 25%;                    
                }
              
                    
            }
            & h2{
                font-size: 35px;
                color: var(--white-color);
                @media screen and (max-width:992px) {
                   font-size: 30px;               
                }
                    
                @media screen and (max-width:767px) and (min-width:300px) {
                    font-size: 23px;
                }
            }
            @media screen and (max-width:1024px) {
                width: 100%;
                
            }
            @media screen and (max-width:480px) and (min-width:300px) {
                width: 100%;
                margin-left: 20px;

                
            }
        }
        @media screen and (max-width:1024px) {
            width: 25%;
            
        }
    }









    
    @media screen and (max-width:922px) {
        width: 100%;
        
    }
    @media screen and (max-width:767px) and (min-width:0px) {
        width: 100%;
        
    }

}