* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --first-color: #673ab7;
    --first-color-light: #fff;
    --facebook: #426782;
    --twitter: #1da1f2;
    --youtube: #ff0000;
    --instagram: #e1306c;
}

body {
    background: var(--first-color);
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

label {
    position: relative;
    background: var(--first-color-light);
    height: 50px;
    width: 150px;
    border-radius: 35px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    color: var(--first-color);
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

label:hover {
    letter-spacing: 1px;
}

label::before {
    content: 'Cancel';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: var(--first-color-light);
    border-radius: 35px;
    opacity: 0;
}

#check {
    display: none;
}

#check:checked~label::before {
    opacity: 1;
}

.mediaIcons {
    position: absolute;
    left: 50%;
    top: -120px;
    transform: translate(-50%);
    background: var(--first-color-light);
    width: 250%;
    height: 110%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 35px;
    padding: 4px 10px;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    align-items: center;
}

.mediaIcons a {
    text-decoration: none;
    margin: 0px 12px;
    color: var(--first-color);
    transition: all 0.3s ease;
}

.mediaIcons a li {
    list-style: none;
    font-size: 20px;
}

#check:checked~.mediaIcons {
    opacity: 1;
    pointer-events: auto;
    top: -100px;
}

.mediaIcons::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    top: 40px;
    background: var(--first-color-light);
    bottom: 9px;
    transform: translateX(-50%) rotate(45deg);
}

.mediaIcons a:hover {
    transform: translateY(-4px);
}

.mediaIcons a:nth-child(1):hover {
    color: var(--facebook);
}

.mediaIcons a:nth-child(2):hover {
    color: var(--twitter);
}

.mediaIcons a:nth-child(3):hover {
    color: var(--instagram);
}

.mediaIcons a:nth-child(4):hover {
    color: var(--youtube);
}