*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --text-primary-color:#fefefd;
    --text-secondary-color:#292929;
    --text-hover-color:#ffc107;
    --underline-primary-color:#292929;
    --underline-secondary-color:#fefefd;
    --heading-color:#ffc107;
    --box-shadow:0px 0px 20px 0px;
    --button-first-color:#292929;
    --button-second-color:#fefefd;
    --button-third-color:#fa7e23;
    --button-hover-color1:#ffc107;
    --button-hover-color2-:#292929;
    --bg-primary-color:#ffffff;
    --footer-bg-color:#252f2d;
}
body{
    width: 100%;
    min-height: 100vh;
    color:#666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    font-family: sans-serif;
}
.header-section{
    width: 100%;
    height: 100vh;
    background: url(./images/banner-bg.png) center no-repeat ;    
    background-size: cover;

    
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 35px;   
    
    
}
.logoPart{
    width: 30%;
    padding-left: 58px; 
    cursor: pointer;
}
.navBarlist{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navBarlist li a{
    
    font-size: 18px;
    color: var(--text-primary-color);
    text-transform: uppercase;
    transition: all 0.8s ease-in-out ;

}
.navBarlist li a:hover{
    color:var(--text-hover-color)
}