* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", serif;
  font-weight: 500;
}

:root {
    --text-primary-color: #fefefd;
    --text-secondary-color: #292929;
    --text-hover-color: #ffc107;
    --underline-primary-color: #292929;
    --underline-secondary-color: #fefefd;
    --heading-color: #ffc107;
    --box-shadow: 0px 0px 20px 0px;
    --button-first-color: #292929;
    --button-second-color: #fefefd;
    --button-third-color: #fa7e23;
    --button-hover-color1: #ffc107;
    --button-hover-color2-: #292929;
    --bg-primary-color: #ffffff;
    --footer-bg-color: #252f2d;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #292929;
}
::-webkit-scrollbar-track{
    height: 5px;
    background: #fa7e23;
}

body {
    width: 100%;
    min-height: 100vh;
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    font-family: sans-serif;
}

.header-section {
    width: 100%;
    height: 120vh;
    background: url(./images/banner-bg.png) center no-repeat;
    background-size: cover;


}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 40px;


}

.logoPart {
    width: 30%;
    padding-left: 73px;
    cursor: pointer;
}

.navBarlist {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navBarlist li a {

    font-size: 18px;
    color: var(--text-primary-color);
    text-transform: uppercase;
    transition: all 0.8s ease-in-out;

}

.navBarlist li a:hover {
    color: var(--text-hover-color);
    opacity: 0.8;
}

.banerPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-left: 120px;

}

.introAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}
.introAbout .itself{
    padding-top: 85px;
}

.introAbout .itself h3 {
    line-height: normal;
    font-size: 28px;
    color: var(--bg-primary-color);
}

.introAbout .itself h1 {
    font-size: 55px;
    color: var(--bg-primary-color);
}
.socailMediaIcons ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 30px;
}
.socailMediaIcons ul li a {
    display: block;
    width: 30px;
    background: #b0b3b2;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.socailMediaIcons ul li a:hover{
    background: var(--bg-primary-color);
}
.socailMediaIcons ul li a i{
    color: #292929;
    font-size: 18px;
    padding-top: 5px;
}

.playerIcon img {
    width: 75px;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 50px;
}
