.redishbtn{
    color: var( --font-secondary-color);
    background: var( --btn-primary-bg-color);
    padding: 13px 55px;
    border: none;
    outline: none;
    font-size: 1.132rem;
    transition:  0.4s ;
    cursor: pointer;
    text-align: center;
    &:hover{
        background: transparent;
        color: var(--btn-primary-bg-color);
        border: 1px solid var(--btn-primary-bg-color);
    }
}
.blackishbtn{
    color: var( --font-secondary-color);
    background: var( --btn-secondary-bg-color);
    padding: 13px 55px;
    border: none;
    outline: none;
    font-size: 1.132rem;
    transition:  0.4s ;
    cursor: pointer;
    text-align: center;
    &:hover{
        background: transparent;
        color: var(--btn-secondary-bg-color);
        border: 1px solid var(--btn-secondary-bg-color);
    }
}